name: Build & Push Docker Image

on:
  push:
    branches:
      - develop   # on build l'image à chaque push sur develop
  workflow_dispatch:  # pour lancer manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write   # nécessaire pour publier GHCR
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/fastapi-ci-cd:latest
            ghcr.io/${{ github.repository_owner }}/fastapi-ci-cd:${{ github.sha }}

      - name: Show image digest
        run: echo "Image digest ${{ steps.build.outputs.digest }}"
