name: Build & Push Docker Image

on:
  push:
    branches:
      - develop          # build l'image à chaque push sur develop
  workflow_dispatch:     # possibilité de lancer manuellement

env:
  REGISTRY: ghcr.io
  IMAGE_OWNER: eliandydumortier   # ⚠ en dur, tout en minuscules
  IMAGE_NAME: fastapi-ci-cd

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write   # nécessaire pour publier sur GHCR
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Show image digest
        run: echo "Image digest ${{ steps.build.outputs.digest }}"
